/* Gary Krige
 * GNU GPL
 */
extend ../../layout

title MCQ

block body
  
  h3 MCQ Test Questions
  .highlight
    h3 #{req.session.mcq.id}
    h5 #{req.session.mcq.text}
  div(class="panel panel-default")
    .btn-group-vertical(data-toggle="buttons")
      each ans, index in req.session.mcq.answers
        label(class="btn btn-primary")
          input(type="radio" name="options" id="option#{index}")
          | #{ans.text}

  .col-lg-6
    button(type="button" id="check" class="btn btn-primary")
      | Check
  script(src="/js/question/mcq/check.js")
